<p><span><svg>
            <use href={{this.flags.svg}}></use>
        </svg></span>{{this.name}}</p>
<ul>
    <li>Capital: {{this.capital}}</li>
    <li>Population: {{this.population}}</li>
    <li>Languages: {{this.languages}}</li>
</ul>